
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form id="createCategory">
    <div class="form-group">
        <label>Category Name</label>
        <input name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input name="Description" class="form-control" />
    </div>


    <div class="form-group">
        <label>Select Image</label>
        <input name="ImageURL" type="hidden" id="ImageURL" />
        <input type="file" class="form-control" accept=".png, .jpg" id="imageUpload" />
        <img id="categoryImage" style="height:100px" />
    </div>

    <div class="form-group">
        <label>Is Featured</label>
        <div class="input-group">
            <div class="radio form-control">
                <label><input name="IsFeatured" type="radio" value="true" />True</label>
            </div>
            <div class="radio form-control">
                <label><input name="IsFeatured" type="radio" value="false" />False</label>
            </div>
        </div>
    </div>

    <button id="saveBtn">Save</button>
    <button id="cancelBtn">Cancel</button>
</form>

<script>

    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Category/Create',
            data: $('#createCategory').serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            });
    });
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
    $("#imageUpload").change(function () {

        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file)
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {


                if (response.Success == true) {
                    $("#ImageURL").val(response.ImageURL);
                    debugger;
                    $("#categoryImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });

    });
</script>