@model List<ECommerceProject.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<table border="1">
    <tr>
        <th>Category</th>
        <th>Description</th>
    </tr>
    @foreach (var cat in Model)
    {
        <tr>
            <td>@cat.Name</td>
            <td>@cat.Description</td>
        </tr>
    }

</table>


