
@{
    ViewBag.Title = "Index";
}
<section class="flat-row flat-icon-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Categories
                    </h2>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div>
        <div id="tableContainer">
            @{
                Html.RenderAction("CategoryTable");
            }
        </div>

        <div id="actionContainer">
          
        </div>
    </div>
</section>