@model List<ECommerceProject.Entities.Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createProduct">
    <select name="cars" id="cars">
        @foreach (var category in Model)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <label>Product Name</label>
    <input type="text" name="Name" />
    <label>Description</label>
    <input type="text" name="Description" />
    <label>Price</label>
    <input type="text" name="Price" />
    <input type="button" value="Save" id="saveBtn" />
</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $('#createProduct').serialize()
        })
            .done(function (response) {
                $("#tablContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });



</script>
