@model NewProductViewModel
@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Create Product</h2>

<form id="createProduct">
    <select name="CategoryId">
        @foreach (var category in Model.AvailableCategories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <label>Product Name</label>
    <input type="text" name="Name" />
    <label>Description</label>
    <input type="text" name="Description" />
    <label>Price</label>
    <input type="number" name="Price" />
    <input type="button" value="Save" id="saveBtn" />
    <input type="button" value="Cancel" id="cancelBtn" />
</form>


<script>
    $("#saveBtn").click(function () {

        //jQuery ajax call
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Products")', //'/Products/Create',
            data: $('#createProduct').serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                focusAction("tableContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });

    $("#cancelBtn").click(function () {
                $("#actionContainer").html("");
                focusAction("tableContainer");
    });
</script>
